.main-header {
    padding: 60px 0px 56px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleClass {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: #1a344b;
}

.titleImg {
    height: 38px;
    width: 38px;
}

.leftMainDiv {
    padding: 0px 0px 0px 113px;
    display: flex;
    justify-content: space-between;
}

.main-leftDiv {
    padding: 24px 0px 0px 0px;
}

.ellipseBorder {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #1a344b;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #1a344b;
    opacity: 1;
}

.settingIcon {
    height: 24px;
    width: 24px;
}

.iconText {
    margin: 0px 0px 0px 18px;
    font-size: 19.4434px;
    line-height: 25px;
    opacity: 0.5;
}

.iconText:hover {
    margin: 0px 0px 0px 18px;
    font-size: 19.4434px;
    line-height: 25px;
    text-decoration: none;
    color: #1a344b;
}

.activeText {
    color: #1a344b !important;
    opacity: 1;
}

.m-26 {
    margin-bottom: 26px;
}

.manageDiv {
    width: 100%;
    height: 521px;
    border: 1px solid #c4c4c4;
    border-radius: 12px;
}

.headingManage {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    color: #1a344b;
    padding: 30px 0px 30px 55px;
}

.horizontal-line {
    border: 1px solid #c4c4c4;
}

.text-contain p {
    margin: 0px 0px 28px 0px;
}

.tex-box {
    /* margin: 0px 0px 18px 0px; */
    font-weight: 600;
    font-size: 22px;
    color: #1a344b;
}

.box-model {
    margin: 0px 0px 60px 0px;
    background-color: #f6f2f2;
    width: 100%;
    height: 68px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    position: relative;
}

.main-text {
    margin: 11px 0px 39px 20px;
    ;
}

.innerManageMemberDiv {
    padding: 30px 93px 80px 55px;
    border-bottom: 1px solid #c4c4c4;
}

.text-headingH1 {
    font-weight: 600;
    font-size: 14px;
    color: #1a344b;
}

.addminstrator {
    position: absolute;
    top: 20px;
    right: 219;
    font-weight: 600;
    font-size: 14px;
    color: #1a344b;
}

.dropMenu {
    position: absolute;
    top: 28px;
    right: 195;
}

.mens {
    position: absolute;
    top: 21.75px;
    right: 114.37px;
}

.box-model p {
    position: absolute;
    right: 59px;
    top: 21px;
    font-weight: 600;
    font-size: 14px;
    color: #1a344b;
}

.addTeam {
    display: flex;
    width: 148px;
    height: 38px;
    background: #1a344b;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
}

.textWithBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.addTeam img {
    margin: 10px 7px 7px 10px;
    width: 18px;
    height: 18px;
}

.AddText {
    font-weight: 600;
    font-size: 18px;
    margin: 5px 13px 7px 7px;
}

@media (min-width: 1200px){
.container {
        max-width: 90%;
    }
}