.head1 {
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

.head2 {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 90px;
}

.headerLength {
    height: 90px;
}

.logoBgSide {
    background-image: url('../image/Logo.png')
}

.settingImage {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.settingImageBg {
    display: none;
}

.mainHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    font-family: inherit;
}

.notification_Icon_div {
    position: absolute;
    left: 7%;
    top: 0px;
}

.notification_count {
    position: absolute;
    top: 3px;
    left: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.headIcon {
    width: 40%;
    height: 35px;
    padding: 0px 5px;
}

.headIconProfile {
    width: 50%;
    height: 40px;
    padding: 0px 5px;
}

.profileName {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #1a344b;
}

.dashboard {
    height: 879px;
    background-color:#f0f0f0c0 ;
}

.headerSlider {
    background-color: #1a344b;
    padding: 0px;
}

.mainDiv {
    display: flex;
    padding: 20px 0px 20px 0px;
    justify-content: space-evenly;
    flex-direction: column;
    height: 550px;
}

.outerDashboard {
    background-color: #fff;
    border-radius: 15px 0px 0px 15px;
}

.sliderText {
    font-size: 1em;
    font-weight: 400;
    color: white;
    font-family: inherit;
}

.sliderText:hover {
    font-size: 1em;
    font-weight: 400;
    color: white;
    font-family: inherit;
    text-decoration: none;
}

.main-todo {
    background-color: #039be5;
    width: 83.33%;
    height: 200px;
    margin-top: -90px;
}

.todoHeader {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 0 30px;
}

.second-todo {
    display: flex;
    flex: 1;
    padding-top: 17px;
}

.second_todo {
    /* display: flex; */
    flex: 5;
}

.search {
    border-radius: 5px;
    background-color: #fff;
    color: black;
    height: 56px;
    width: 100%;
    padding: 0 16px 0 45px;
    border: none;
    outline: 0;
}

.mailBox {
    flex: 1;
}

.dropdown {
    margin: 0 10px 0 -5px;
    background-color: #039be5;
    color: #fff;
    font-size: 15px;
    border-style: hidden;
}

.dropdown option {
    background-color: #fff;
    color: black;
}

.insideMenu {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0c0;
    margin-top: 16px;
    /* margin: 16px 10px 0 10px; */
    padding: 0 50px 0 0px;
}

.composeBtn {
    background-color: #039be5;
    color: #fff;
    overflow: visible;
    border-style: none;
    margin: 50px 24px 30px 0px;
    height: 35px;
    width: 85%;
    border-radius: 5px;
    font-weight: bold;
}

.innerlogo {
    display: flex;
    /* padding: 0 12px 0 24px; */
    cursor: pointer;
    margin: 0px 0 0 -30px;
}
.lableIcons{
    height: 16px; 
    width: 16px; 
    margin-top: 14px !important
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 50px;
    height: 56px;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.mailbox1{
    height: 826px;
    width: 100%;
    background-color: #fff;
    margin-top: 45px;
    border-radius: 7px;
}
.boxBackgroung{
    background-color: #039be5;
    margin: 0 25px 7px -30px;
    border-radius: 0 25px 25px 0;
}
.m-icon{
    display: grid;
    align-items: center;
    margin: 0 0 0 30px;
    font-size: 16px;
}
.i-p-color{
    color: #fff;
}
.p-name{
    margin: 10px;
    opacity: 0.9;
}
.topBorder{
    border-top:1px solid rgba(0,0,0,.12);
    margin: 10px 0 15px -30px;
}
.insideHeader{
    display: flex;
    justify-content: space-between;
    padding: 22px 40px 12px 20px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.insideHeader-first{
    display: flex;
}
.numClass{
    margin-bottom: 0px;
}
.insideHeader-second{
    display: flex;
}
.headerOpacity{
    opacity:0.7
}
.insideBody{
    display: flex;
    justify-content: space-between;
}
.leftside{
    display: flex;
    justify-content: center;
}
.rightSide{

    margin-top: -10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.rightSideInside{
    display: flex;
    margin: 10px 20px 10px 20px;
    justify-content: space-between;
}
.leftSideInside{
    display: grid;
    align-items: center;
}
.cir-img{
    height: 35px;
    width: 35px;
    background-color: #039be5;
    border-radius: 50%;
}
.scroller_bar{
    height: 769px;
    overflow: hidden;
    border-right: 1px solid rgba(0,0,0,.12);
}
.scroller_bar:hover{
    overflow-y:auto
}

.insidelogoimg{
    display: flex;
    justify-content: center;
    /* margin-top: 1px; */
    color: #ffffff;
    font: weight 900px;
    font-size: 22px;
}
.cir-img-i{
    height: 8px;
    width: 8px;
    background-color: rgb(216, 67, 21);
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 50%;
}
.cir-img-a{
    height: 8px;
    width: 8px;
    background-color: rgb(3, 169, 244);
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 50%;
}
.cir-img-in{
    height: 8px;
    width: 8px;
    background-color: rgb(96, 125, 139);
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 50%;
}
.paypalBox{
    display: flex;
    background-color: rgba(0,0,0,.08);
    height: 22px;
    width: 68px;
    border-radius: 4px;
}
.amazonBox{
    display: flex;
    background-color: rgba(0,0,0,.08);
    height: 22px;
    width: 75px;
    border-radius: 4px;
}
.invoiceBox{
    display: flex;
    background-color: rgba(0,0,0,.08);
    height: 22px;
    width: 70px;
    border-radius: 4px;
}
.paypal-text{
    font-size: 11px;
    border-radius: 4px;
    margin: 0 4px 0 0;
    padding: 3px 8px;
    opacity: 0.6;
}



/* -------- */

.modal {
    z-index: 1;
    width: 100%;
    padding: 150px 0px 0px 0px;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    width: 620px;
    height: 700px;
}
.modelmain-titleDiv {
    width: 100%;
    display: flex;
    padding: 18px 28px 16px 30px;
    margin: 0px 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #039be5;
}
.modelmain-titleDiv-a {
    width: 100%;
    display: flex;
    padding: 8px 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3d3c3c;
    border-radius: 20px;
    margin-bottom: 10px;
}
.main-title{
    color: #fff;
    font-size: 20px;
}
.main-title-a{
    font-size: 14px;
}
.fild-m{
    margin: 20px 25px 10px 25px;
}
.hide-cc{
    display: flex;
    justify-content: end;
    font-size: 14px;
}

/* input box */
.text-field {
    position: relative;
    margin: 10px 0px 25px 0px;
}

input,textarea {
    border: thin solid #3d3c3c;
    padding: 10px 15px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

input:focus ,
textarea:focus {
        background-color:#fff;
    }

label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}

input:focus ~ label, input:valid ~ label ,textarea:focus ~ label,textarea:valid ~ label  {
    top: -10px;
    left: 15px;
    font-size: small;
    background-color:#fff;
    padding:0 5px 0 5px;
}

.footer-p{
    display: flex;
    justify-content:space-between;
    margin: 20px 20px;
}
.send-box{
    height: 40px;
    width: 80px;
    background-color:rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    border: none;
    margin-right:15px;
}

a{
    text-decoration: none;
    color: #212529;
}
a:hover{
    color: #212529;
    text-decoration: none;
}