.homeIcon {
    width: 25.92px;
    height: 25.43px;
}
.homeIconf {
    width: 25.92px;
    height: 24.48px;
}

.inboxIcon {
    width: 23.76px;
    height: 19.01px;
}
.inboxIconf {
    width: 28px;
    height: 30px;
}

.tasksIcon {
    width: 23.76px;
    height: 23.76px;
}

.calenderIcon {
    width: 23.76px;
    height: 23.76px;
}

.reportsIcon {
    width: 23.76px;
    height: 26.72px;
}

.positionsIcon {
    width: 24.84px;
    height: 20.56px;
}

.candidatesIcon {
    width: 19.44px;
    height: 20.52px;
}