.mainMarkDiv{
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    border-bottom:1px solid rgba(0,0,0,.12);
    padding: 4%;
}

.markCheck{
    align-items: center;
}

.markCheckRight{
    align-items: center;
    justify-content: space-between;
    width: 15%;
}


.formDivMain{
    margin: 77px 28px 0px 28px;
}

.text-field {
    position: relative;
    margin-bottom: 20px;
}

input , textarea {
    width: 100%;
    border: thin solid #3d3c3c;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

label {
    color: #3c4252;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
input:focus ~ label ,input:valid ~ label , textarea:focus ~ label, textarea:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: small;
    background-color:#fff;
    padding:0 5px 0 5px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}


select {
    width: 100%;
    border: thin solid #3d3c3c;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

label {
    color: #3c4252;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
select:focus ~ label, select:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: small;
    background-color:#fff;
    padding:0 5px 0 5px;
}

.saveBtn{
    width: 7%;
    height: 4%;
    border: 0px;
    color: rgba(0,0,0,.26);
    border-radius: 4px;
}

.boxBackgroung{
    background-color: #039be5;
    color: white;
    border-radius: 0 25px 25px 0;
    width: 86%;
    height: 5%;
}

.innerlogo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
